#titlePage {
  align-self: center;
  justify-self: center;
}

#listPhoto {
  margin-top: 15rem;
  display: grid;
  flex-wrap: wrap;
  gap: 7rem;
  row-gap: 5rem;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 2rem;
}
.photo {
  position: relative;
  cursor: pointer;
}
.photo .cardImage {
  width: 30rem;
  border-radius: 1.8rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#wrapListPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageAction {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  gap: 1.5rem;
  height: fit-content;
  width: fit-content;
  margin: 1.5rem 1.5rem 0 0 ;
  justify-content: center;
  background-color: rgb(134, 228, 131);
  padding: 0.5rem;
  border-radius: 10px;
}
.btn-img-action {
  cursor: pointer;
}

@media (min-width: 360px) and (max-width: 723px) {
  #listPhoto {
    grid-template-columns: repeat(1, 1fr);
  }
  #menuHeader {
    display: none;
  }

  #header {
    margin-top: 0;
    padding: 0 1rem;
    justify-content: space-between;
    position: fixed;
    padding-left: 0;
    width: 100%;
    top: 0;
    height: 7rem;
    background-color: white;
    z-index: 9999999;
  }
}

@media (min-width: 724px) and (max-width: 1023px) {
  #listPhoto {
    grid-template-columns: repeat(2, 1fr);
  }
  #menuHeader {
    display: none;
  }

  #header {
    margin-top: 0;
    padding: 0 1rem;
    justify-content: space-between;
    position: fixed;
    padding-left: 0;
    width: 100%;
    height: 7rem;
    top: 0;
    background-color: white;
    z-index: 9999999;
  }
}

@media (min-width: 360px) and (max-width: 1024px) {
  #titlePage {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  #listPhoto {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  #listPhoto {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  #listPhoto {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 2560px) and (max-width: 3839px) {
  #listPhoto {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 3840px) and (max-width: 4096px) {
  #listPhoto {
    grid-template-columns: repeat(10, 1fr);
  }
}
