#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding:  0 4rem;
  background: var(--bg-header-gradient);
  position: relative;
}
#titlePage {
  margin-top: 0;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#menuHeader a {
  margin-right: 3.5rem;
  text-decoration: none;
}
#menuHeader a:last-child {
  margin-right: 0;
}
#action {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 9.1rem;
  display: flex;
  justify-content: center;
}
#action a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemAction {
  background-color: #5866e1;
  width: 6.5rem;
  height: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
.itemAction:first-child {
  margin-right: 1.7rem;
}

#wrapDetail {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 15px;
  transition: all 1s;
  animation: top-to-center 0.5s ease-in-out forwards;
}
#wrapDetail > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;

}



@media (min-width: 360px) and (max-width: 1024px) {
  #header {
    padding:  0 1rem;

  }
}
@keyframes top-to-center {
  0% {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}