#qr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 8.1rem;
}

#cardQR img {
  height: fit-content;
  border-radius: 20px;
}

#cardQR {
  width: 65rem;
  /* height: 72.2rem; */
  border-radius: 18px;
  background-color: #fafafa;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleQR {
  font-size: 2.4rem;
  line-height: 4.4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3.8rem;
  margin-top: 3rem;
}

.message {
  font-size: 2rem;
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

#wrapImage {
  width: 30.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#wrapImage img {
  width: 100%;
}

.txtMessage {
  width: 32.5rem;
  display: block;
  line-height: 24px;
}

.nickname {
  font-size: 1.6rem;
  text-align: right;
  width: 100%;
  padding-right: 3.2rem;
}

#cardQR a {
  font-size: 2.4rem;
  line-height: 4.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2.8rem;
  color: black;
  text-decoration: none;
}
.linkQR {
  margin-bottom: 3rem;
}
@media (min-width: 360px) and (max-width: 1024px) {
  .titleQR {
    font-size: 2rem;
    line-height: 4.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3.8rem;
  }

  #cardQR a {
    font-size: 2rem;
  }

  #cardQR {
    width: 90%;
    height: 100%;
    padding: 3rem 0;
  }

  #cardQR img {
    width: 80%;
  }

  div#menuHeader {
    display: flex;
  }
}