.btn-back {
  background-color: #D9D9D9;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-back a {
  text-decoration: none;
  color: black;
  font-size: 2rem;

}
#action {
  margin-top: 0;
}
.wrapFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header {
  display: flex;
  flex-direction: row;
  height: 7rem;
  padding: 0 4rem;
  background: none;
}
.wrapCamera {
  position: relative;
}
#camera {
  background-color: none;
  color:#666 ;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  border: 0;
  border-radius: 25px;

}
#titlePage {
  color: black;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}
body {
  background-color: #FFCCF4;
}
.headerText h3 {
  font-size: 3.6rem;
  font-weight: normal;
  margin: 0;
}



#content {
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
.btn-action {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  font-size: 1.6rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.7rem;
  width: 7.7rem;
  border-radius: 50px;
  cursor: pointer;
}

#action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.group_btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note {
margin-left: 1.2rem;
color: #E10F0F;
font-size: 1.4rem;
min-width: 30rem;
}

#canvas {
  position:absolute;
  visibility: hidden;
}

.disabled {
  background-color: #AAA;
  pointer-events: none;
  cursor:not-allowed;
}